.idea/
.vscode

.editorconfig
.env
.gitattributes
.gitignore
!/.gitignore
/bin/
/conf/
/docker/app/
/docker/web/
/mysql/
/patches/mh/
/solr/
/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/modules/mh/
/web/profiles/contrib/
/web/themes/contrib/
/web/sites/default/files/
/.scannerwork
.scannerwork/
*.DS_Store
